*.js text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.ts text eol=lf
*.py text eol=lf
*.py text eol=lf
*.d text eol=lf
*.d text eol=lf
*.json text eol=lf
*.json text eol=lf
*.vue text eol=lf
*.vue text eol=lf
*.html text eol=lf
*.html text eol=lf
*.sh text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.txt text eol=lf
*.md text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.yml text eol=lf
*.sql text eol=lf
*.sql text eol=lf
