# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html

# Project files
*.sublime-project
*.sublime-workspace

# Testing VMs
test/ubuntu/.vagrant/

# Code coverage
*.lst

test.d
test.py
wip_*.d
wip_*.py
old_*.d
ref_*.d
ref_*.c
ref_*.py
reject_*.d
bin/
*_build
